{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}
    <header class="masthead m-3">
        <h2>Meet our team!</h2>
    </header>
    <section class="m-3">
        <div class="card p-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="https://placehold.co/100x100" class="img-fluid rounded h-100" alt="Avatar">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">Sam Powers</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Project manager</h6>
                        <p class="card-text">This is some sample content for the card. You can put any text or
                            additional elements here.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card p-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="https://placehold.co/100x100" class="img-fluid rounded h-100" alt="Avatar">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">Vinay Thamara</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
                        <p class="card-text">This is some sample content for the card. You can put any text or
                            additional elements here.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card p-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="https://placehold.co/100x100" class="img-fluid rounded h-100" alt="Avatar">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">Sebastian Tovar</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
                        <p class="card-text">This is some sample content for the card. You can put any text or
                            additional elements here.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card p-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="https://placehold.co/100x100" class="img-fluid rounded h-100" alt="Avatar">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">Alex Jones</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
                        <p class="card-text">This is some sample content for the card. You can put any text or
                            additional elements here.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card p-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="https://placehold.co/100x100" class="img-fluid rounded h-100" alt="Avatar">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">Jaecar Ly</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Designer</h6>
                        <p class="card-text">This is some sample content for the card. You can put any text or
                            additional elements here.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card p-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="https://placehold.co/100x100" class="img-fluid rounded h-100" alt="Avatar">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">Eric Atkins</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Research & Design</h6>
                        <p class="card-text">This is some sample content for the card. You can put any text or
                            additional elements here.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card p-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="https://placehold.co/100x100" class="img-fluid rounded h-100" alt="Avatar">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">Zach Cobb</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Research</h6>
                        <p class="card-text">This is some sample content for the card. You can put any text or
                            additional elements here.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card p-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="https://placehold.co/100x100" class="img-fluid rounded h-100" alt="Avatar">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">Nick Blank</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Research</h6>
                        <p class="card-text">This is some sample content for the card. You can put any text or
                            additional elements here.</p>
                    </div>
                </div>
            </div>
        </div>


    </section>
{% endblock %}