{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}
    <header class="masthead m-3">
        <h2>Meet our team!</h2>
    </header>
    <section class="m-3">
        {% for member in team_members %}
            <div class="card p-3 m-3 col-8">
                <div class="row g-0">
                    <div class="col-md-3">
                        <img src="{{ member.image_url if member.image_url.startswith('http') else url_for('static', filename=member.image_url) }}"
                             class="img-fluid rounded w-100 h-100 object-fit-cover"
                             alt="{{ member.name }}'s photo"
                             style="aspect-ratio: 1/1;">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">{{ member.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ member.role }}</h6>
                            <p class="card-text">{{ member.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}